:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #8F8F8F;
  color: white;
  font-weight: 600;

  > * {
    padding: 10px 20px;
  }

  > img {
    padding: 10px 0px 10px 10px;
  }

  a {
    color: white;
  }

  > .nav {
    list-style-type: none;
    margin: 0;
    margin-left: 30px;
    padding: 0;

    > li {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 10px;
      }

      > a {
        padding: 10px 20px;
        background: #125699;
        border-radius: 25px;
      }
    }

  }
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}


a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}
